# permissions for end users to view spaceships.
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: spaceships-viewer-role
rules:
- apiGroups:
  - expanse.blog.webischia.com
  resources:
  - spaceships
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - expanse.blog.webischia.com
  resources:
  - spaceships/status
  verbs:
  - get
